language: ruby
env:
global:
    - CC_TEST_REPORTER_ID=8bcf547bf49d33ab7103581720a2bbd6b14f45647cd9d06b8f29664515ced321
rvm:
  - 2.6.5
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
scripta:
   - bundle exec rspec
   - bundle exec rubocop
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT